body {
    background: linear-gradient(to right, #346b6d, #2a445e, #58094f);
}
.sobremi {
    width: 1000px;
    height: 500px;
}
.cv{
    width: 330px;
}
.imagen1{
    width: 680px;
    height: 510px;
}
.imagen3{
    width: 680px;
    height: 510px;
}
.primeraimagen{
    color: #F6FDAA;
}
.secundariimagen{
    background-color: aliceblue;
}
.card{
    border: solid 1px; 
}
.card-body{
    background-color: #ede8ba;
    font-family: 'Cabin Condensed', sans-serif
}
.slide {
    margin-left: 320px;
    margin-top: 100px;
}
.row {
    background-color: antiquewhite;
    height: 80px;

}
.contacto{
    border-radius: 150px
}

.contacto a {
    font-size: 3rem;
    color: black;
}/*modificar el tamaño de los iconos de bootstrap */
.iconos1{
    margin-left: 350px;
}
.iconos{
    margin-left: 40px;
}
footer{
    background-color: black;
    height: 25xp;
}

/* .pie{
    size: 10px;
} */

/* font-family: 'Cabin Condensed', sans-serif;< */